@font-face {
    font-family: 'HankeGrotesk';
    font-display: swap;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
    format('truetype');
}

:root{
    /*Your results card*/
    --gradient-card-results: linear-gradient(180deg, rgb(57, 42, 187) -600%, rgb(92, 62, 243) 40%);
    --gradient-point: linear-gradient(180deg,hsla(256, 72%, 46%, 1) 10%, hsla(241, 72%, 46%, 0) 90%);
    --clr-font-reaction:hsl(0, 100%, 67%);
    --clr-font-memory:hsl(39, 100%, 56%);
    --clr-font-verbal:hsl(166, 100%, 37%);
    --clr-font-visual:hsl(234, 85%, 45%);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --font-family-default:'HankeGrotesk';
    --fw-bold:700;
    --fw-black:800;
    --fs-400:1.125rem;
    --fs-600:1.5rem;
    --fs-680:4.25rem;
    --fs-700:1.75rem;

}

*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    font: inherit;
}

img,
svg{
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-default);
    font-size:var(--fs-400);
}

.result-summary {
    --padding:32px;
    --border-radius: 2rem;
    max-width: 46rem;
    display: grid;
}
.result-summary .result-score {
    color:var(--Light-lavender);
}
.flex-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.grid-flow[data-spancing="large"]{
    gap:2rem
}


.section-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

.section-title span{
    color:var(--Light-lavender)

}

.text-information {
    color:var(--Light-lavender);  
    text-align: center;
    font-size: 18px;
}

button {
    color: var(--White);
    line-height: 1;
    background-color: var(--Dark-gray-blue);
    padding: 1rem 2rem;
    border: 0;
    border-radius: 100px;
    width: 100%;
    cursor:pointer;
    margin-top: 50px;
}

.button:hover,
.button:focus-visible {
    background: var(--gradient-card-results);
}


.results,
.summary {
    padding: var(--padding);
}

.results {
    border-radius: 
    0 0 var(--border-radius) var(--border-radius);
    text-align: center;
    background: var(--gradient-card-results);
    color: var(--White);
}

.result-score {
    display: grid;
    place-content: center;
    width: 12rem;
    margin-inline: auto;
    background: var(--gradient-point);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-top: 40px;
}

.result-score span {
    display: block;
    font-size:var(--fs-680);
    font-weight: var(--fw-black);
    line-height: 1;
    color: var(--White);
}

.result-rank {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.summary-item-title-Reaction {
    font-weight: var(--fw-bold);
    color: var(--clr-font-reaction);
}

.summary-item-title-Memory {
    font-weight: var(--fw-bold);
    color:var(--clr-font-memory);
}

.summary-item-title-Verbal {
    font-weight: var(--fw-bold);
    color: var(--clr-font-verbal);
}

.summary-item-title-Visual {
    font-weight: var(--fw-bold);
    color: var(--clr-font-visual);
}

.summary-score {
    font-weight: var(--fw-bold);
    color:#aeaeae;
}

.summary-score span {
    color: rgb(80, 80, 80);
}
.background-reaction {
    background-color:hsl(0, 100%, 96%);
    border-radius: 10   px;
}

.background-memory {
    background-color:hsl(60, 100%, 96%);
    border-radius: 10px;
}

.background-verbal {
    background-color:hsl(134, 100%, 96%);
    border-radius: 10px;
}

.background-visual {
    background-color:hsl(226, 100%, 96%);
    border-radius: 10px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
}

.attribution{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
@media (min-width:600px) {
    .results{
        border-radius: 0 var(--border-radius) var(--border-radius);
    }
    
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
    .result-summary {
        margin-inline: 1rem;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: 5rem 1rem 3rem rgba(214, 214, 214, 0.2);

    }
}
